<div *ngIf="collection">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-4 text-right album-info">
      <img
        src="{{
          this.cdnUrl +
            'images/artwork/' +
            this.path +
            '/' +
            collection.collectionId +
            '.jpg'
        }}"
        class="cover img-responsive img-thumbnail m-b-lg"
        alt="{{ collection.collectionName }}"
      />
      <div class="release-info">
        <p class="album-title hidden-lg">{{ collection.collectionName }}</p>
        <p class="artist-info">
          <a href="{{ collection.artistViewUrl }}" target="_new">{{
            collection.artistName
          }}</a>
        </p>
      </div>
      <div class="d-grid gap-2">
        <a
          href="{{ collection.collectionViewUrl }}"
          class="btn btn-primary itunes-button"
          target="_new"
        >
          <fa-icon [icon]="iTunesIcon"></fa-icon> Buy on iTunes - ${{
            collection.collectionPrice
          }}
          USD
        </a>
      </div>
      <div class="row">
        <div class="back-button">
          <button (click)="back()" class="btn btn-outline-light btn-sm">
            <fa-icon [icon]="arrowLeftIcon"></fa-icon>
            back
          </button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <ng-container
              *ngFor="
                let track of collection.tracks | orderBy: 'trackNumber':true
              "
            >
              <tr *ngIf="track.trackName">
                <td
                  class="track-number"
                  style="background-color: #333; padding: 5px; margin: 10px"
                >
                  <p style="font-weight: bold">{{ track.trackNumber }}</p>
                </td>
                <td class="hover-text">
                  <strong>{{ track.trackCensoredName }}</strong>
                  <br />
                  <p class="small hover-text">{{ track.artistName }}</p>
                </td>
                <td>
                  <a
                    (click)="play(track)"
                    class="btn btn-sm preview-link float-start"
                  >
                    <fa-icon [icon]="previewButton"></fa-icon
                    ><span>Preview</span>
                  </a>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
      <hr />

      <div class="liner-notes">
        <table>
          <tr>
            <td><strong>Released: </strong></td>
            <td>{{ collection.releaseDate.toString() | formatReleaseDate }}</td>
          </tr>
          <tr>
            <td><strong>Country: </strong></td>
            <td>{{ collection.country }}</td>
          </tr>
          <tr>
            <td><strong>Genre: </strong></td>
            <td>{{ collection.primaryGenreName }}</td>
          </tr>
          <tr>
            <td><strong>Collection Id: </strong></td>
            <td>{{ collection.collectionId }}</td>
          </tr>
          <tr>
            <td><strong>Artist Id: </strong></td>
            <td>{{ collection.artistId }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
