<div class="h100" *ngIf="release">
  <div class="row h100" style="padding-bottom: 30px">
    <div class="col-4 text-right album-info">
      <img [src]="release.artworkUrl" class="cover img-responsive img-thumbnail m-b-lg" [alt]="release.title" />
      <div class="release-info">
        <p class="album-title hidden-lg">{{ release.title }}</p>
        <p class="artist-info">
          <a [href]="release.artistViewUrl" target="_new">{{
            release.artistName
            }}</a>
        </p>
      </div>
      <div class="d-grid gap-2">
        <a [href]="release.buyUrl" class="btn btn-primary itunes-button" target="_new">
          <fa-icon [icon]="iTunesIcon"></fa-icon> Buy on iTunes - ${{
          release.price
          }}
          USD
        </a>
      </div>
      <div class="row">
        <div class="back-button">
          <button (click)="back()" class="btn btn-outline-light btn-sm">
            <fa-icon [icon]="arrowLeftIcon"></fa-icon>
            back
          </button>
        </div>
      </div>
    </div>
    <div class="col-8 vertical-separator">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <ng-container *ngFor="let track of release.tracks | orderBy: 'trackNumber':true">
              <tr *ngIf="track.title">
                <td class="track-number" style="background-color: #333; padding: 5px; margin: 10px">
                  <p style="font-weight: bold">{{ track.trackNumber }}</p>
                </td>
                <td class="hover-text">
                  <strong>{{ track.title }}</strong>
                  <br />
                  <p class="small hover-text">{{ track.artistName }}</p>
                </td>
                <td>
                  <a (click)="play(track)" class="btn btn-sm preview-link float-start">
                    <fa-icon [icon]="previewButton"></fa-icon><span>Preview</span>
                  </a>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
      <hr />

      <div class="liner-notes">
        <table>
          <tr>
            <td><strong>Released: </strong></td>
            <td>{{ release.releaseDate.toString() | formatReleaseDate }}</td>
          </tr>
          <tr>
            <td><strong>Country: </strong></td>
            <td>{{ release.country }}</td>
          </tr>
          <tr>
            <td><strong>Genre: </strong></td>
            <td>{{ release.genre }}</td>
          </tr>
          <tr>
            <td><strong>Collection Id: </strong></td>
            <td>{{ release.collectionId }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!release">
  <h2 class="loading-error">Loading release</h2>
</div>