a {
  background: none;
  padding: 0px;
}
a:hover {
  color: #fff;
}
figure > section {
  height: 100%;
}
i.fa {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 30% 0 0 0;
}

i.fa:hover {
  opacity: 0;
  transition: all 0.5s;
}

/* grid styles ------------------------------------ */
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .banner {
    grid-column: span 2;
  }

  .title {
    grid-row: 3;
  }

  .email {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: #333;
    color: white;
  }
  .facebook {
    background-color: #335397;
    grid-column: 3;
  }
  .twitter {
    background-color: #00c7f7;
    grid-row: 2;
  }

  .twitter i {
    justify-self: center;
    align-self: center;
  }
  .soundcloud {
    background-color: #ff6600;
    grid-column: 2;
    grid-row: 3;
  }
  .youtube {
    background-color: #dd4a38;
    grid-column: 3;
    grid-row: 3;
  }
}
