<main class="main isotope">
  <section class="banner">
    <img
      src="../../assets/images/IMG_6300_opt.jpg"
      class="img-responsive"
      style="width: 100%"
    />
  </section>
  <figure class="title portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h3 style="opacity: 1">contact us</h3>
      </div>
    </section>
  </figure>
  <figure class="facebook portfolio-item">
    <section class="hover-bg">
      <a href="https://www.facebook.com/Downgrooves/" target="_new">
        <div class="hover-text">
          <h4>fb.com/downgrooves</h4>
        </div>
        <i class="fa fa-facebook fa-3x"></i>
      </a>
    </section>
  </figure>
  <figure class="twitter portfolio-item">
    <section class="hover-bg">
      <a href="https://twitter.com/Downgrooves/" target="_new">
        <div class="hover-text">
          <h4>@downgrooves</h4>
        </div>
        <i class="fa fa-twitter fa-3x"></i>
      </a>
    </section>
  </figure>

  <figure class="email portfolio-item">
    <section class="hover-bg">
      <a href="mailto:ericj@downgrooves.com">
        <div class="hover-text" style="padding: 15% 0 0 0">
          <h4>ericj at downgrooves.com</h4>
        </div>
        <i class="fa fa-envelope fa-3x"></i>
      </a>
    </section>
  </figure>
  <figure class="soundcloud portfolio-item">
    <section class="hover-bg">
      <a href="https://www.soundcloud.com/Downgrooves/" target="_new">
        <div class="hover-text">
          <h4>sc.com/downgrooves</h4>
        </div>
        <i class="fa fa-soundcloud fa-3x"></i>
      </a>
    </section>
  </figure>
  <figure class="youtube portfolio-item">
    <section class="hover-bg">
      <a
        href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber"
      >
        <div class="hover-text">
          <h4>youtube.com/downgrooves</h4>
        </div>
        <i class="fa fa-youtube fa-3x"></i>
      </a>
    </section>
  </figure>
</main>
