<main id="contact" class="main isotope">
  <ngx-masonry
    class="grid"
    [options]="{
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    }"
  >
    <div class="grid-sizer"></div>
    <app-image-tile
      [ngClass]="{
        'grid-item': true,
        'grid-item--width2': true
      }"
      src="../../assets/images/IMG_6300_opt.jpg"
      [cssClasses]="['banner']"
    ></app-image-tile>

    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.facebook.com/Downgrooves/"
      text="fb.com/downgrooves"
      [icon]="{ name: 'facebook', size: 3 }"
      [cssClasses]="['facebook']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.twitter.com/Downgrooves/"
      text="twitter.com/downgrooves"
      [icon]="{ name: 'twitter', size: 3 }"
      [cssClasses]="['twitter']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true, 'grid-item--width2': true }"
      href="mailto:ericj@downgrooves.com"
      text="ericj at downgrooves.com"
      [icon]="{ name: 'envelope', size: 3 }"
      [cssClasses]="['email']"
      target="_new"
    >
    </app-text-tile>
    <app-header-tile
      [ngClass]="{
        'grid-item': true,
        'header-title': true,
        'hero-title': true
      }"
      title="contact"
      [cssClasses]="['portfolio-item']"
    >
    </app-header-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.soundcloud.com/Downgrooves/"
      text="sc.com/downgrooves"
      [icon]="{ name: 'soundcloud', size: 3 }"
      [cssClasses]="['soundcloud']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber"
      text="youtube.com/downgrooves"
      [icon]="{ name: 'youtube', size: 3 }"
      [cssClasses]="['youtube']"
      target="_new"
    >
    </app-text-tile>
  </ngx-masonry>
</main>
