<main id="about" class="main">
    <section class="banner">
        <img src="../assets/images/DSC011442_opt.jpg" class="img-responsive" style="width: 100%" />
    </section>
    <section class="content">
        <div class="artists">


        </div>
    </section>
    <figure class="title portfolio-item">
        <section class="hover-bg">
            <div class="hover-text" style="opacity: 1">
                <h3 style="opacity: 1">about us</h3>
            </div>
        </section>
    </figure>
    <section class="site">
        <section class="hover-bg">
            <h3 style="opacity: 1">about this site</h3>
        </section>
    </section>
    <section class="site-content">
        <p>
            When not making music, Eric is also a
            <b>successful software engineer</b>
            with over 25 years of experience designing and developing websites.
            This site serves as not only a destination for all his music and DJ
            work, but also as a technology demonstration for his web design and
            development skills.
        </p>
        <h4>How this site is built</h4>
        <p>
            The version of this site you are viewing now is built in
            <b>{{ tech }}</b>. This front end accesses a RESTful API built in .NET
            Core that provides all the data, and the images and sound files are
            provided by a custom built CDN optomized to deliver media files. All
            of this is hosted on a tiny Linux virtual server on AWS.
        </p>
        <!-- <h4>Different technologies</h4>
        <p> -->

        <!-- There are other versions of this site built in different
        technologies:
        </p>
        <ul>
            <li>
                <a href="https://react.downgrooves.com" target="_new">
                    View this site built in React.
                </a>
            </li>
        </ul>
<br/>
        <p>
            These different sites are 99% functionally and aesthetically
            identical, but built with entirely different front end technologies.
            All of these front end sites access the same .NET Core back end
            site.
        </p> -->
        <h4>Source code</h4>
        <p>

            The source code for this site and it's back-end can be viewed on
            GitHub at&nbsp;&nbsp;
            <a href="https://github.com/djericj" target="_new">
                https://github.com/djericj
            </a>
        </p>
        <p>
            You can view his professional profile at
            <a href="http://www.ericdoesweb.com" target="_new">
                ericdoesweb.com
            </a>
        </p>
    </section>
</main>