<div *ngFor="let mix of mixes | async; index as i; even as e">
  <div ngxMasonryItem class="grid-item">
    <div class="title-text">
      <h4>{{ mix.artist }} - {{ mix.title }}</h4>
    </div>
    <a routerLink="{{ navigateTo(mix) }}">
      <div class="mix-cover">
        <img [src]="mix.artworkUrl" class="img-responsive" [alt]="mix.title" />
        <div class="mix-length">{{ mix.length }}</div>
      </div>
    </a>
    <p class="mix-short-description">
      {{ mix.shortDescription }}
    </p>

    <div class="buttons">
      <a (click)="playMix(mix)" class="btn btn-sm listen-link float-start">
        <fa-icon [icon]="headphonesIcon"></fa-icon
        ><span style="margin: 0 8px">Listen</span>
      </a>

      <a
        routerLink="{{ navigateTo(mix) }}"
        class="btn btn-sm listen-link float-end"
      >
        <fa-icon [icon]="listIcon"></fa-icon
        ><span style="margin: 0 8px">Tracklist</span>
      </a>
    </div>
  </div>
</div>
