.track-number {
  margin: 10px;
  width: 35px;
  background-color: #242b2e;
  padding: 5px;
}

.track-number p {
  font-weight: bold;
}

.track-name h4 {
  color: #dcdcdc;
  margin: 0;
}

.track-name p {
  margin: 0;
  font-style: italic;
}

.url {
  float: right;
}

.music-label {
  color: white;
}
