<table class="table">
  <ng-container *ngFor="let track of tracks">
    <tr *ngIf="track.title">
      <td class="track-number">
        <p>{{ track.trackNumber }}</p>
      </td>
      <td class="track-name">
        <h4>{{ track.title }}</h4>
        <p>{{ track.artistName }}</p>
      </td>
      <td class="url">
        <app-button
          *ngIf="track.url"
          [cssClasses]="['btn-sm', 'preview-link', 'float-start']"
          (onClick)="play(track.id)"
          icon="play"
          label="Preview"
        ></app-button>
        <span
          *ngIf="track.label"
          class="float-end music-label"
          style="color: white"
        >
          {{ track.label }}
        </span>
      </td>
    </tr>
  </ng-container>
</table>
