<table class="table">
  <ng-container *ngFor="let track of tracks">
    <tr *ngIf="track.title">
      <td class="track-number">
        <p>{{ track.trackNumber }}</p>
      </td>
      <td class="track-name">
        <h4>{{ track.title }}</h4>
        <p>{{ track.artistName }}</p>
      </td>
      <td class="url">
        <app-button
          [cssClasses]="['btn-sm', 'preview-link', 'float-start']"
          (onClick)="play(track.id)"
          icon="play"
          label="Preview"
        ></app-button>
      </td>
    </tr>
  </ng-container>
</table>
