<div id="release" *ngIf="release">
  <div class="row">
    <div class="col-4 album-info">
      <app-image-tile
        class="cover img-responsive img-thumbnail m-b-lg"
        [src]="release.artworkUrl"
        [alt]="release.title"
      >
      </app-image-tile>
      <app-header-tile
        [class.header-title]="true"
        [title]="release.title"
        [subTitle]="release.artistName"
      >
      </app-header-tile>

      <app-button
        [cssClasses]="['btn-primary', 'itunes-button']"
        [onClick]="navigateTo(release.buyUrl)"
        icon="music"
        [label]="'Buy on iTunes - $' + release.price + ' USD'"
      ></app-button>

      <app-button
        [cssClasses]="['btn-outline-light']"
        [onClick]="this.back"
        icon="arrow-left"
        label="back"
      ></app-button>
    </div>
    <div class="col-8 vertical-separator">
      <div class="row">
        <div class="col-xs-12">
          <app-tracklist [tracks]="this.trackList"></app-tracklist>
        </div>
      </div>
      <hr />

      <div class="liner-notes">
        <app-key-value
          [keyValue]="{
            key: 'Released:',
            value: release.releaseDate.toString() | formatReleaseDate
          }"
        ></app-key-value>
        <app-key-value
          [keyValue]="{
            key: 'Country:',
            value: release.country
          }"
        ></app-key-value>
        <app-key-value
          [keyValue]="{
            key: 'Genre:',
            value: release.genre
          }"
        ></app-key-value>
        <app-key-value
          [keyValue]="{
            key: 'Collection Id:',
            value: release.collectionId.toString()
          }"
        ></app-key-value>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!release">
  <h2 class="loading-error">Loading release</h2>
</div>
