#release {
  height: 100%;
}

#other-releases h4 {
  border-top: solid 2px #333;
  margin-top: 20px;
  padding-top: 10px;
}

#other-releases>ul {
  display: inline-block;
}

#other-releases>ul>li {
  float: left;
  width: 20%;
  padding: 5px 20px;
}

#other-releases .release-artwork {
  display: block;

}

.release-container {
  height: 100%;
}

.album-info {
  background-color: #333;
  max-width: 500px;
}

.cover {
  display: inline-block;
}

.track-info {
  background-color: #444;
}

.liner-notes {
  font-size: 85%;
  display: block;
  padding: 10px;
}

.itunes-button {
  float: right;
  border: solid 1px transparent;
  font-size: 90%;
}

.itunes-button button:hover {
  background-color: #1fae5b;
  border: solid 1px white;
  text-decoration: none;
}

.preview-link {
  font-size: 80%;
  color: #dcdcdc;
}

.preview-link:hover {
  background-color: #1fae5b;
  text-decoration: none;
  color: white;
}

.preview-link>span {
  margin: 0 8px;
  font-weight: bold;
}

.description {
  padding: 10px;
  width: 100%;
}

::ng-deep #release h2.title {
  position: unset;
  transform: unset;
}

::ng-deep #release p.subtitle {
  font-size: 100%;
}