<app-header-definition-tile
  title="Original Releases"
  subTitle="Music created by Downgrooves"
  definition="o·rig·i·nal"
  partOfSpeech="adjective"
  [meanings]="[
    'a work composed firsthand.',
    'independent and creative in thought or action.'
  ]"
  [cssClasses]="['static-banner', 'stamp']"
>
</app-header-definition-tile>
<ngx-masonry>
  <div class="grid">
    <app-image-tile
      *ngFor="let release of releases; index as i"
      [attr.data-index]="i"
      [onClick]="navigateTo(release)"
      [src]="release.artworkUrl"
      [alt]="release.title"
      [cssClasses]="['hover-bg', 'release-artwork']"
    >
    </app-image-tile>
    <!-- <div
      ngxMasonryItem
      class="release-container"
      *ngFor="let release of releases; index as i"
      [attr.data-index]="i"
    >
      <a routerLink="{{ navigateTo(release, path) }}">
        <div class="release-artwork">
          <img
            class="release-cover"
            [src]="release.artworkUrl"
            [alt]="release.title"
          />
        </div>
      </a>
    </div> -->
  </div>
</ngx-masonry>

<app-release-list [path]="'release'" [releases]="releases"></app-release-list>
