<div class="static-banner stamp" *ngIf="!error">
  <div class="title">
    <h2>Original Releases</h2>
    <p>Music created by Downgrooves.</p>
  </div>
  <div class="definition">
    <h4>
      o·rig·i·nal - <span class="speech-part">adjective</span>
    </h4>
    <ol>
      <li>a work composed firsthand.</li>
      <li>independent and creative in thought or action.</li>
    </ol>
  </div>
</div>
<section class="info2" *ngIf="!error"></section>
<section class="info3" *ngIf="!error"></section>
<app-release-list [path]="'release'" [releases]="releases"></app-release-list>