<header class="fixed">
  <div class="logo-box logo">
    <div class="d-none d-md-block">
      <img src="../../assets/images/logo_w_title.png" class="img-responsive" />
    </div>

    <div class="d-md-none">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <!-- <span class="navbar-toggler-icon">Toggle navigation</span> -->
          <!-- <fa-icon [icon]="barsIcon" size="2x"></fa-icon> -->
        </button>
        <img
          src="../../assets/images/logo_w_title_only.png"
          class="img-responsive"
          style="margin: 0 auto"
        />
      </div>
    </div>
  </div>
  <nav class="menu-box navbar" ng-app role="navigation">
    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav menu" ng-click="$event.preventDefault();">
        <li [routerLinkActive]="['active']">
          <a (click)="toggleCollapse()" [routerLink]="['']">
            <fa-icon [icon]="homeIcon"></fa-icon>
            <span>Home</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a
            (click)="toggleCollapse()"
            [routerLink]="['releases']"
            data-cy="releases"
          >
            <fa-icon [icon]="musicIcon"></fa-icon>
            <span>Releases</span>
          </a>
        </li>
        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['/modular']"
            data-cy="modular"
          >
            <fa-icon [icon]="adjustIcon"></fa-icon>
            <span>Modular Live</span>
          </a>
        </li>
        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['/mixes']"
            data-cy="vocal"
          >
            <fa-icon [icon]="headphonesIcon"></fa-icon>
            <span>DJ Sets</span>
          </a>
        </li>
        <li>
          <a (click)="toggleCollapse()" [routerLink]="['shop']" data-cy="shop">
            <fa-icon [icon]="shoppingIcon"></fa-icon>
            <span>Shop</span>
          </a>
        </li>

        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['contact']"
            data-cy="contact"
          >
            <fa-icon [icon]="mailIcon"></fa-icon>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="social-media">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/downgrooves" target="_new"
          ><fa-icon [icon]="facebookIcon"></fa-icon
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/downgrooves/" target="_new"
          ><fa-icon [icon]="instagramIcon"></fa-icon
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://soundcloud.com/downgrooves" target="_new"
          ><fa-icon [icon]="soundcloudIcon"></fa-icon
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/downgrooves" target="_new"
          ><fa-icon [icon]="twitterIcon"></fa-icon
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://open.spotify.com/artist/5rgW2jffJt8ERIfIKr5tnf"
          target="_new"
          ><fa-icon [icon]="spotifyIcon"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</header>
