<div id="portfolio">
  <div class="static-banner stamp">
    <div class="title">
      <h2>DJ Sets</h2>
      <p>Mixed music sets.</p>
    </div>
    <div class="definition">
      <h4>
        dj - <span class="speech-part">noun</span>
      </h4>
      <ol>
        <li>someone who plays records at an event where people dance to recorded music, such as a nightclub.</li>
      </ol>
    </div>
  </div>
  <ngx-masonry>
    <div class="grid">
      <div class="grid-sizer"></div>
      <app-mix-list [mixes]="mixes"></app-mix-list>
    </div>

    <div class="grid">
      <div class="grid-sizer"></div>
      <app-mix-list [mixes]="mixes2"></app-mix-list>
    </div>
  </ngx-masonry>
</div>