<div [class]="this.cssClasses">
  <div [class.title]="true">
    @if (this.title) {
      <h2 [class.title]="true">
        {{ this.title }}
      </h2>
    }
    @if (this.subTitle) {
      <p>
        {{ this.subTitle }}
      </p>
    }
  </div>
  @if (this.definition) {
    <div class="definition">
      @if (this.definition) {
        <h4>
          {{ this.definition }}
          @if (this.partOfSpeech) {
            <span class="speech-part">
            - {{ this.partOfSpeech }}</span>
          }
        </h4>
      }
      @if (this.meanings) {
        <ol>
          @for (meaning of meanings; track meaning; let i = $index) {
            <li>
              {{ meaning }}
            </li>
          }
        </ol>
      }
    </div>
  }
</div>