#mix {
  height: 100%;
}

:host {
  margin: 0 auto;
  width: 100%;
}

.mix-container {
  height: 100%;
}

.mix-info {
  background-color: #333;
  max-width: 500px;
}

.cover {
  display: inline-block;
}

button.listen-button {
  background-color: #1fae5b;
  border: solid 1px transparent;
  width: 100%;
}

button.listen-button:hover {
  border: solid 1px white;
}

.img-thumbnail {
  border-radius: 0;
  background-color: inherit;
}

.mix-description {
  background-color: #333;
  padding: 15px;
  font-size: 90%;
  margin: 10px 0 0 10px;
}

.back-button {
  position: absolute;
  bottom: 0;
}

::ng-deep #mix h2.title {
  position: relative;
  top: 0;
  left: 0;
  transform: unset;
}

::ng-deep #mix p.subtitle {
  font-size: 100%;
}