<div id="mix" class="h100" *ngIf="mix">
  <div class="row">
    <div class="col-4">
      <div class="img-responsive img-thumbnail m-b-lg">
        <app-image-tile [src]="mix.artworkUrl" [alt]="mix.title">
        </app-image-tile>
      </div>
      <div class="mix-description">
        <app-header-tile
          [class.header-title]="true"
          [title]="mix.title"
          [subTitle]="mix.description"
        >
        </app-header-tile>
      </div>
      <div class="mix-info">
        <h5 class="mixed-by">mixed by {{ mix.artist }}</h5>
        <h6 class="mix-date">
          released {{ mix.createDate | formatReleaseDate }}
        </h6>
        <button (click)="play(mix)" class="btn listen-button" target="_new">
          <i class="fa fa-headphones"></i>&nbsp;<span style="font-weight: bold"
            >Listen</span
          >
        </button>

        <app-button
          [cssClasses]="['btn-outline-light']"
          [onClick]="this.back"
          icon="arrow-left"
          label="back"
        ></app-button>
      </div>
    </div>

    <div class="col-8 vertical-separator">
      <div class="row">
        <div class="col-12">
          <app-tracklist [tracks]="this.trackList"></app-tracklist>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!mix">
  <h2 class="loading-error">Loading mix</h2>
</div>
