<main id="shop" class="main isotope">
  <ngx-masonry
    class="grid"
    [options]="{
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    }"
  >
    <div class="grid-sizer"></div>
    <app-header-tile
      [ngClass]="{
        'grid-item': true,
        'header-title': true,
        'hero-title': true
      }"
      title="shop"
      [cssClasses]="['portfolio-item']"
    >
    </app-header-tile>
    <app-image-tile
      [ngClass]="{
        'grid-item': true,
        'grid-item--width3': true
      }"
      src="../../assets/images/fgc-wallhaven-169171_opt (3).jpg"
      [cssClasses]="['banner']"
    >
    </app-image-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      text="Our music is available at Apple Music"
      [icon]="{ name: 'apple', size: 5 }"
      [cssClasses]="['subtitle']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      text="spotify.com/downgrooves"
      href="https://open.spotify.com/artist/5rgW2jffJt8ERIfIKr5tnf"
      [icon]="{ name: 'spotify', size: 5 }"
      [cssClasses]="['spotify']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.beatport.com/artist/downgrooves/293260"
      text="beatport.com/ downgrooves"
      [icon]="{ name: 'beatport', size: 5 }"
      [cssClasses]="['beatport']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true }"
      href="https://www.soundcloud.com/Downgrooves/"
      text="We also have some free music on SoundCloud"
      [icon]="{ name: 'soundcloud', size: 5 }"
      [cssClasses]="['soundcloud']"
      target="_new"
    >
    </app-text-tile>
    <app-text-tile
      [ngClass]="{ 'grid-item': true, 'grid-item--width2': true }"
      href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber"
      text="youtube.com/ downgrooves"
      [icon]="{ name: 'youtube', size: 5 }"
      [cssClasses]="['youtube']"
      target="_new"
    >
    </app-text-tile>
  </ngx-masonry>
</main>
