<main class="main isotope">
  <figure class="title portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">shop</h4>
      </div>
    </section>
  </figure>
  <section class="banner">
    <img
      src="../../assets/images/fgc-wallhaven-169171_opt (3).jpg"
      class="img-responsive"
    />
  </section>
  <figure class="subtitle portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">Our music is available at</h4>
      </div>
    </section>
  </figure>
  <figure class="available portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">Our music is available on</h4>
      </div>
    </section>
  </figure>
  <figure class="spotify portfolio-item">
    <section class="hover-bg">
      <a
        href="https://open.spotify.com/artist/5rgW2jffJt8ERIfIKr5tnf"
        target="_new"
      >
        <div class="hover-text">
          <h4>spotify.com/downgrooves</h4>
        </div>
        <i class="fa fa-spotify fa-5x"></i>
      </a>
    </section>
  </figure>
  <figure class="beatport portfolio-item">
    <section class="hover-bg">
      <a
        href="https://www.beatport.com/artist/downgrooves/293260"
        target="_new"
      >
        <div class="hover-text">
          <h4>beatport.com/downgrooves</h4>
        </div>
        <i class="fa fa-beatport fa-5x"></i>
      </a>
    </section>
  </figure>
  <figure class="soundcloud portfolio-item">
    <section class="hover-bg">
      <a href="https://www.soundcloud.com/Downgrooves/" target="_new">
        <div class="hover-text" style="padding: 15% 0 0 0">
          <h4>We also have some free music on SoundCloud</h4>
        </div>
        <i class="fa fa-soundcloud fa-3x" style="padding: 15% 0 0 0"></i>
      </a>
    </section>
  </figure>
  <figure class="youtube portfolio-item">
    <section class="hover-bg">
      <a
        href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber"
      >
        <div class="hover-text">
          <h4>www.youtube.com/downgrooves</h4>
        </div>
        <i class="fa fa-youtube fa-4x"></i>
      </a>
    </section>
  </figure>
</main>
