.main {
  max-width: 1200px;
}

.grid {
  background: #333;
  max-width: 1600px;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  width: 320px;
  height: 320px;
}

.grid-item--width2 {
  width: 640px;
  height: 320px;
}

#shop i.fa,
i.fab {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  top: 35%;
  left: 35%;
}

i.fa-beatport {
  text-align: center;
  padding: 30% 0 0 0;
  top: 0;
  left: 0;
}

i.fa-apple {
  top: 40%;
  left: 40%;
}

i.fa-youtube {
  left: 40%;
}

i.fa:hover {
  opacity: 0;
  transition: all 0.5s;
}

h3 {
  text-transform: uppercase;
  font-size: 160%;
}

.facebook {
  background-color: #335397;
}

.subtitle {
  background-color: #00c7f7;
}

.available {
  background-color: #335397;
  justify-self: center;
  align-self: center;
}

.spotify {
  background-color: #000000;
}

.spotify i.fa {
  color: #22c95c;
}

.soundcloud {
  background-color: #ff6600;
}

.beatport {
  background-color: #000000;
}

.youtube {
  background-color: #dd4a38;
}

.image-tile img {
  width: 640px;
  height: 320px;
  overflow: hidden;
}

.hero-title {
  position: relative;
}

.title {
  position: absolute;
  top: 40%;
  left: 35%;
}
