<main class="main">
  <div class="grid">
    <ngx-masonry
      [options]="{
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true
      }"
    >
      <div class="grid-sizer"></div>
      <app-header-tile
        title="Deep, melodic electronic music."
        [subTitle]="this.artist?.description"
        [cssClasses]="['info1']"
      >
      </app-header-tile>

      <app-text-tile
        href="https://itunes.apple.com/us/artist/downgrooves/570186506"
        target="_new"
        text="find us on itunes"
        [icon]="{ name: 'apple', size: 5 }"
        [cssClasses]="['apple']"
      >
      </app-text-tile>
      <app-text-tile
        href="https://www.beatport.com/artist/downgrooves/293260"
        target="_new"
        text="find us on beatport"
        [icon]="{ name: 'beatport', size: 5 }"
      >
      </app-text-tile>
      <app-image-tile
        *ngFor="let release of releases; index as i"
        [attr.data-index]="i"
        [onClick]="navigateTo(release)"
        [src]="release.artworkUrl"
        [alt]="release.title"
        [cssClasses]="['figure-img', 'release-artwork']"
      >
      </app-image-tile>
    </ngx-masonry>
  </div>
</main>
