/* grid styles ------------------------------------ */
@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(5, 250px);
  }

  @media (max-width: 480px) {
    main {
      display: grid;
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: repeat(5, 250px);
    }
  }

  .info1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .info2 {
    grid-column: span 2;
  }

  .figure0 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
  }

  .figure1 {
    grid-column: 3;
    grid-row: 1;
  }

  .figure2 {
    grid-row: 2;
    grid-column: 3;
  }

  .figure3 {
    grid-row: 3;
  }

  .figure4 {
    grid-row: 3;
  }

  .figure5 {
    grid-column: 1;
    grid-row: 3;
  }

  .figure6 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
  }

  .figure7 {
    grid-column: span 2;
  }
}

.info1,
.info2,
.info3 {
  padding: 40px;
  background-color: #333;
  color: white;
  overflow: hidden;
}

.info2 {
  grid-column: 4 / span 2;
  grid-row: 3;
}

.info3 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}

.itunes {
  background-color: #6aaaeb;
  grid-column: 1;
  grid-row: 4;
}

.itunes a {
  background-color: transparent;
}

.itunes i.fa-apple {
  top: 30%;
  left: 35%;
  display: inline-block;
  position: absolute;
}

.itunes .hover-bg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.itunes .hover-bg .hover-text {
  padding: 15% 0 0 0;
}

.beatport {
  background-color: #000000;
  grid-column: 1;
  grid-row: 5;
}

.beatport img {
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  top: 40%;
  transform: translateY(-35%);
}

.fa-beatport {
  background-image: url("../../../assets/images/Beatport_Logo_Mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}