.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

h3 {
  margin-bottom: 30px;
}

a {
  padding: 12px;
  font-size: 120%;
}

@media (max-width: 480px) {
  .cover {
    width: 50%;
    float: left;
  }
  .tracklist {
    font-size: 80%;
    padding: 0 5px;
  }
  .h3,
  h3 {
    font-size: 80%;
  }
  .mixed-by a {
    font-size: 80%;
  }
  a,
  .btn {
    font-size: 80%;
  }

  .back-button {
    margin-left: 23px;
  }
}

.liner-notes {
  font-size: 85%;
}

.liner-notes > p {
  margin: 5px;
}

.release-info {
  padding: 15px 10px;
  background-color: #333;
}

.release-info > p {
  margin: 10px 0;
}

.album-title {
  text-transform: uppercase;
  font-size: 120%;
}

.artist-info > a {
  padding: 12px 0;
}

.back-button > button {
  margin: 0;
}

button.itunes-button {
  margin: 20px 0;
  border: solid 1px transparent;
}

button.itunes-button:hover {
  background-color: #1fae5b;
  border: solid 1px white;
}

.preview-link {
  font-size: 80%;
  color: #dcdcdc;
}

.preview-link:hover {
  background-color: #1fae5b;
  text-decoration: none;
  color: white;
}

.preview-link > span {
  margin: 0 8px;
  font-weight: bold;
}
