<div *ngIf="release">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-4 text-right album-info">
      <img
        src="{{ release.artworkUrl100 | enlargeImage }}"
        class="cover img-responsive img-thumbnail m-b-lg"
        alt="{{ release.trackCensoredName }}"
      />
      <div class="release-info">
        <p class="album-title hidden-lg">{{ release.collectionName }}</p>
        <p class="artist-info">
          <a href="{{ release.artistViewUrl }}">{{ release.artistName }}</a>
        </p>
      </div>
      <div class="d-grid gap-2">
        <button
          (click)="(release.collectionViewUrl)"
          class="btn btn-primary itunes-button"
          target="_new"
        >
          <fa-icon [icon]="iTunesIcon"></fa-icon> Buy on iTunes - ${{
            release.collectionPrice
          }}
          USD
        </button>
      </div>
      <div class="row">
        <div class="back-button">
          <button
            [routerLink]="['/releases']"
            class="btn btn-outline-light btn-sm"
          >
            <fa-icon [icon]="arrowLeftIcon"></fa-icon>
            back
          </button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <ng-container *ngFor="let r of releases">
              <tr *ngIf="r.trackName">
                <td
                  class="track-number"
                  style="background-color: #333; padding: 5px; margin: 10px"
                >
                  <p style="font-weight: bold">{{ r.trackNumber }}</p>
                </td>
                <td class="hover-text">
                  <strong>{{ r.trackCensoredName }}</strong>
                  <br />
                  <p class="small hover-text">{{ r.artistName }}</p>
                </td>
                <td>
                  <a
                    (click)="play(r)"
                    class="btn btn-sm preview-link float-start"
                  >
                    <fa-icon [icon]="previewButton"></fa-icon
                    ><span>Preview</span>
                  </a>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
      <div class="liner-notes">
        <p>Released: {{ release.releaseDate | formatReleaseDate }}</p>
        <p>Country: {{ release.country }}</p>
        <p>Genre: {{ release.primaryGenreName }}</p>
        <p>Track Id: {{ release.trackId }}</p>
        <p>Collection Id: {{ release.collectionId }}</p>
        <p>Artist Id: {{ release.artistId }}</p>
      </div>
    </div>
  </div>
</div>
