@for (artist of artists; track artist) {
  <div>
    <app-header-definition-tile
      [title]="artist.name"
      [subTitle]="artist.description"
      [cssClasses]="['static-banner', 'stamp', 'static-header']"
      >
    </app-header-definition-tile>
    <ngx-masonry>
      <div class="grid">
        @for (release of artist.releases; track release; let i = $index) {
          <app-image-tile
            ngxMasonryItem
            class="release-container"
            [attr.data-index]="i"
            [onClick]="navigateTo(release)"
            [src]="release.artworkUrl"
            [alt]="release.title"
            [cssClasses]="['hover-bg', 'release-artwork']"
            >
          </app-image-tile>
        }
      </div>
    </ngx-masonry>
  </div>
}
