<div class="static-banner stamp" *ngIf="!error">
  <h2>Eric Rylos</h2>
  <p>
    Downgrooves producer Eric Rylos produces
    <strong>ambient & downtempo</strong> music under his own name.
  </p>
</div>
<section class="info2" *ngIf="!error"></section>
<section class="info3" *ngIf="!error"></section>
<app-release-list
  [path]="'other-music'"
  [collections]="collections"
></app-release-list>

<div class="static-banner stamp" *ngIf="!error">
  <h2>Evotone</h2>
  <p>
    Downgrooves producer Eric Rylos produces
    <strong>organic & minimal</strong> under the alias Evotone.
  </p>
</div>
<section class="info2" *ngIf="!error"></section>
<section class="info3" *ngIf="!error"></section>
<app-release-list
  [path]="'other-music'"
  [collections]="collections2"
></app-release-list>
