<div id="player-region">
  <div class="player-controls">
    <a (click)="togglePlayPause()" id="play-button" class="control">
      <i [class.fa-circle-play]="!this.state.playing" [class.fa-circle-pause]="this.state.playing" [class.fa]="true"
      [class.fa-2x]="true"></i>
    </a>
    <a (click)="stop()" id="stop-button" class="control">
      <i class="fa fa-rotate-left"></i>
    </a>
    <div class="volume-controls">
      <i class="fa fa-volume-low"></i>
      <app-slider #volumeSlider id="volume-slider" [min]="0" [max]="100" [value]="currentVolume"></app-slider>
      <i class="fa fa-volume-high"></i>
    </div>
  </div>
  @if (currentTrack) {
    <div class="track-info">
      <img [src]="currentTrack.cover" id="track-cover" />
      <span id="track-artist">{{ currentTrack.artist }}</span> -
      <span id="track-title">{{ currentTrack.title }}</span>
    </div>
  }
  <div id="tooltip" class="progress-tooltip">00:00</div>
  <div class="song-duration">
    <div id="start-time" class="song-duration-beg"></div>
    <app-slider #seekSlider id="seek-slider" [min]="0" [max]="this.state.duration"
    [value]="this.state.currentTime"></app-slider>
    <div id="end-time" class="song-duration-end"></div>
  </div>
</div>