<div id="player-region" class="player-region">
  <audio id="player2" preload="none">
    <source id="mp3_src" src="" type="audio/mp3" />
  </audio>

  <div class="player-controls">
    <a (click)="togglePlayPause()" id="play-button" class="control">
      <fa-icon [icon]="playingIcon"></fa-icon>
    </a>
    <a (click)="stop()" id="stop-button" class="control">
      <fa-icon [icon]="stopIcon"></fa-icon>
    </a>
    <div class="volume-controls">
      <div id="volume-low" class="control">
        <fa-icon [icon]="volumeLowIcon"></fa-icon>
      </div>
      <ngx-slider
        [(value)]="currentVolume"
        [options]="options"
        (userChange)="setVolume($event)"
      ></ngx-slider>
      <div id="volume-high" class="control">
        <fa-icon [icon]="volumeHighIcon"></fa-icon>
      </div>
    </div>
  </div>
  <div class="track-info" *ngIf="currentTrack">
    <span id="track-artist">{{ currentTrack.artist }}</span> -
    <span id="track-title">{{ currentTrack.title }}</span>
  </div>
  <div class="song-duration">
    <span id="start-time" class="song-duration-beg"></span>
    <progress
      id="seek-obj"
      class="progress"
      value="0"
      max="1"
      style="display: none"
    ></progress>
    <div class="progress">
      <div
        id="progress-bar"
        style="width: 0%"
        class="progress-bar"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <span id="end-time" class="song-duration-end"></span>
  </div>
</div>
