<div id="player-region">
  <audio id="player2" preload="none">
    <source id="mp3_src" src="" type="audio/mp3" />
  </audio>

  <div class="player-controls">
    <a (click)="togglePlayPause()" id="play-button" class="control">
      <i [class.fa-circle-play]="playerStatus$.value === 2 || playerStatus$.value === 3"
        [class.fa-circle-pause]="playerStatus$.value === 1" [class.fa]="true" [class.fa-2x]="true"></i>
    </a>
    <a (click)="stop()" id="stop-button" class="control">
      <i class="fa fa-rotate-left"></i>
    </a>
    <div class="volume-controls">
      <div id="volume-low" class="control">
        <i class="fa fa-volume-low"></i>
      </div>
      <ngx-slider [(value)]="currentVolume" [options]="options" (userChange)="setVolume($event)"></ngx-slider>
      <div id="volume-high" class="control">
        <i class="fa fa-volume-high"></i>
      </div>
    </div>
  </div>
  <div class="track-info" *ngIf="currentTrack">
    <img [src]="currentTrack.cover" id="track-cover" />
    <span id="track-artist">{{ currentTrack.artist }}</span> -
    <span id="track-title">{{ currentTrack.title }}</span>
  </div>
  <div id="tooltip" class="progress-tooltip">00:00</div>
  <div class="song-duration">
    <div id="start-time" class="song-duration-beg"></div>
    <progress id="seek-obj" class="progress" value="0" max="1" style="display: none"></progress>
    <div id="progress-container">
      <svg width="16" height="16" id="current-position">
        <circle cx="8" cy="8" r="8" fill="#428bca" />
      </svg>
      <div id="progress">
        <div id="progress-bar" style="width: 0%" class="progress-bar" role="progressbar" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
    <div id="end-time" class="song-duration-end"></div>
  </div>
</div>