<app-header-definition-tile title="Live Modular" subTitle="Improvised performances on eurorack modular synthesizers."
  definition="mod·u·lar" partOfSpeech="adjective" [meanings]="[
    'consisting of separate parts that, when combined, form a complete whole.'
  ]" [cssClasses]="['static-banner', 'stamp']"></app-header-definition-tile>
<div class="container">
  <div class="row">
    @for (video of videos; track video; let i = $index) {
      <app-image-tile class="col-3" [attr.data-index]="i"
        [onClick]="navigateTo(video)" [src]="video.artworkUrl" [alt]="video.title" [title]="video.title">
      </app-image-tile>
    }
  </div>
</div>