.grid-item {
  width: 320px;
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 25%;
}

/* 2 columns wide */
.grid-item--width2 {
  width: 50%;
}

.container {
  --bs-gutter-x: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col-3 {
  border-right: solid 3px #333;
  border-bottom: solid 3px #333;
  background-color: #000;

}

::ng-deep .image-tile {}

::ng-deep .image-tile>a>img {
  display: block;
  width: 360px;
  object-fit: cover;
}

::ng-deep .image-tile>p {
  padding: 0 10px;
  margin-top: -26px;
}