<ngx-masonry>
  <div class="grid">
    <div
      ngxMasonryItem
      class="release-container"
      *ngFor="let track of tracks | async; index as i"
      [attr.data-index]="i"
    >
      <a [routerLink]="['/' + path + '/' + track.id, track.title | urlFormat]">
        <div class="release-artwork">
          <img
            class="release-cover"
            src="{{ track.artworkUrl | enlargeImage }}"
            alt="{{ track.title }}"
          />
        </div>
      </a>
    </div>
  </div>
</ngx-masonry>
