/* You can add global styles to this file, and also import other style files */

/*************************************** base ********************************/

html {
  background: url(/assets/pavel-pjatakov-rywx3yUFaa0-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/pavel-pjatakov-rywx3yUFaa0-unsplash.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/pavel-pjatakov-rywx3yUFaa0-unsplash.jpg', sizingMethod='scale');
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #555;
  opacity: 0.95;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: 0 !important;
}

iframe {
  border: none;
  width: 100%;
}

a {
  color: #fff;
  background-color: #34352f;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #1fae5b;
}

p {
  color: #dcdcdc;
  font-size: 90%;
  font-weight: 500;
  margin-bottom: 1em;
}

hr {
  width: 100%;
}

img {
  max-width: 100%;
}

.h100 {
  height: 100%;
}

.h100b {
  height: 100%;
  display: block;
}

h1,
h2,
.h3,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 0em;
}

textarea {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

header {
  display: block;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #242b2e;
  text-align: left;
  z-index: 4;
  position: absolute;
}

@media (max-width: 480px) {
  header {
    position: fixed;
    float: none;
    width: 100%;
    text-align: center;
    height: 100px;
  }
}

figure {
  margin: 0;
}

ul.menu > li a:hover,
ul.drop-down li a:hover,
div.filter-box ul li a:hover,
div.filter-box ul li a.active,
a.elemadded {
  background-color: #336699 !important;
}

h3.album-title {
  font-size: 120%;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.navbar {
  min-height: 0px;
}

.navbar-toggle {
  padding: 0;
  margin-right: 0;
}

.navbar-collapse {
  padding: 0;
}

/************************************ layout ************************************/
#container {
  opacity: 0;
  background: transparent;
}

#container.active {
  opacity: 1;
}

#content {
  background: #555;
  opacity: 0.9;
  position: absolute;
  padding-left: 260px;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
}

@media (max-width: 480px) {
  #content {
    left: 0;
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  #content {
    position: relative;
    top: 140px;
  }

  .info1 {
    padding: 0 20px;
    text-align: center;
  }

  h2 {
    margin-top: 0px;
  }
}

.inner-content {
  height: 100%;
}

button.btn,
button.btn:hover,
button.btn:focus {
  color: #fff;
  background-color: #336699;
  opacity: 1;
  transition: none;
}

.btn {
  background-color: #336699;
  /* Blue background */
  border: 0;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

.load_circle_wrapper.loaded,
.loader.loaded,
.page-loading-overlay.loaded {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.page-loading-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1000;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective: 10000px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.load_circle_wrapper.loaded,
.loader.loaded,
.page-loading-overlay.loaded {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.load_circle_wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  z-index: 1002;
}

.loading_spinner {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.inner,
.outer {
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
  -ms-animation: spin 1s infinite;
  -o-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

.loading {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: #1fae5b;
  border-bottom-color: #1fae5b;
  border-radius: 50%;
}

/************************************ modules ************************************/

/* error info */
.error-info {
  background-color: #333;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  padding: 0 40px;
}

.error-info a {
  color: #ff9900;
}

.error-info1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  background-color: #615655;
  padding: 0 40px;
}

.error-info2 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
  background-color: #333;
  padding: 0 40px;
}

.error-info3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 5;
  padding: 0 40px;
}

/* portfolio box & hover */

.img-thumbnail {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.portfolio-box .col-sm-3 {
  padding: 0px !important;
  width: 25% !important;
}

.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.back-button > button {
  font-size: 80%;
  margin-left: 10px;
  background-color: #555;
  border: solid 1px #1fae5b;
}

a.listen-link {
  font-size: 80%;
  float: right;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #dcdcdc;
}

a.listen-link:hover {
  color: #1fae5b;
}

button.listen-button {
  border: solid 1px transparent;
}

button.listen-button:hover {
  background-color: #1fae5b;
  border: solid 1px white;
}

.music-label {
  color: white;
}

.track-number {
  width: 35px;
  background-color: #242b2e;
  padding: 5px;
}

@media (max-width: 480px) {
  .track-number {
    width: 50px;
  }

  h3.album-title {
    font-size: 90%;
    text-transform: uppercase;
  }
}

.static-banner {
  padding: 20px 40px;
  background-color: #333;
  color: white;
  overflow: hidden;
}

.static-banner .title {
  float: left;
  text-transform: unset;
  // max-width: 300px;
  display: grid;
}

.static-banner .definition {
  float: right;
  font-size: 90%;
  padding-top: 8px;
  max-width: 500px;
}

.static-banner .definition .speech-part {
  font-style: italic;
  font-size: 80%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-error {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* .player-region {
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px #aaa;
  z-index: 1000;
  background-color: #000;
  width: 100%;
} */
/************************************ state ************************************/

/************************************ themes ************************************/

.list-inline {
  display: flex;
}

.list-inline li {
  flex: 1;

  text-align: center;
}

.list-inline li a {
  opacity: 0.7;
  background-color: transparent;
}

.list-inline li a:hover {
  opacity: 1;
  color: #fff;
}

.list-inline li a i:hover {
  opacity: 1;
  color: #fff;
}

.release-artwork {
  border: solid 2px #333;
}

/************************************ masonry ************************************/

.grid-sizer,
.grid-item {
  width: 250px;
}

.grid-item {
  height: 250px;
  float: left;
  background: #333;
  // border: 1px solid #333;
  // border-color: hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
  width: 500px;
}
.grid-item--width3 {
  width: 750px;
}

.grid-item--height2 {
  height: 500px;
}
.grid-item--height3 {
  height: 750px;
}
.grid-item--height4 {
  height: 1000px;
}

/************************************ tiles ************************************/

.text-tile {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  border: solid 2px #333;
}

.image-tile {
  // display: inline-block;
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
  margin: 0;
}
