<footer>
  <!-- Social icon -->
  <div class="social-box">
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/Downgrooves/" class="facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/Downgrooves/" class="twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.soundcloud.com/Downgrooves/" class="soundcloud">
          <i class="fa fa-soundcloud"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber"
          class="youtube"
        >
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
    <p class="copyright">&#169; 2022 Downgrooves, All Rights Reserved</p>
  </div>
</footer>
