footer {
  position: absolute;
}

/* Social */

.social-box {
  padding: 0 24px 0;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 5;
}
ul.social-icons {
  padding: 0;
  margin: 0;
}
@media (max-width: 480px) {
  footer {
    position: fixed;
    height: 150px;
    bottom: 0px;
  }
  .social-box {
    width: 480px;
    background: #333;
  }
  ul.social-icons {
    padding: 20px 5px;
    float: right;
    margin: 0;
  }
  .copyright {
    font-size: 80%;
  }
}

ul.social-icons li {
  list-style: none;
  display: inline-block;
  margin-left: 8px;
}

ul.social-icons li:first-child {
  margin-left: 0px;
}

ul.social-icons li a {
  display: inline-block;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  text-decoration: none;
  text-align: center;
  transition: all 0.17s ease-in-out;
  -moz-transition: all 0.17s ease-in-out;
  -webkit-transition: all 0.17s ease-in-out;
  -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a.facebook {
  background: #3e5ea2;
}

ul.social-icons li a.twitter {
  background: #2eb0e3;
}

ul.social-icons li a.github {
  background: #fff;
}

ul.social-icons li a.pinterest {
  background: #f43a2c;
}

ul.social-icons li a.google {
  background: #da5f2e;
}

ul.social-icons li a.youtube {
  background: #df2826;
}

ul.social-icons li a.linkedin {
  background: #107cb7;
}

ul.social-icons li a:hover {
  opacity: 0.7;
}

ul.social-icons li a i {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  transition: all 0.17s ease-in-out;
  -moz-transition: all 0.17s ease-in-out;
  -webkit-transition: all 0.17s ease-in-out;
  -o-transition: all 0.17s ease-in-out;
}

p.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 18px;
  line-height: 20px;
}
