a {
  padding: 0;
}

header {
  display: block;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #242b2e;
  text-align: left;
  z-index: 4;
  position: absolute;
}

ul.menu > li a:hover,
ul.drop-down li a:hover,
div.filter-box ul li a:hover,
div.filter-box ul li a.active,
a.elemadded {
  background-color: #336699 !important;
}

/* logo */

.logo-box {
  padding: 30px 30px;
  background: #212529;
  text-align: center;
}

.logo h1 {
  margin: 0px;
  font-family: "Crete Round", serif;
  letter-spacing: 0.13em;
}

.logo a {
  color: #111;
}

.logo p {
  font-style: italic;
  font-family: "Crete Round", serif;
  font-size: 12px;
}

.logo-img {
  margin-right: 10px;
  height: 60px;
  transform: scaleX(-1);
}

.logo-text {
  font-family: "Lobster", cursive;
  font-size: 2.6em;
  color: #c3bab9;
  text-shadow: -1px -1px 0 #615655, 1px -1px 0 #615655, -1px 1px 0 #615655,
    1px 1px 0 #615655;
}

@media (max-width: 480px) {
  .logo-box img {
    margin: 0 auto;
  }
}

/* memnu */
ul.menu {
  padding: 0;
  margin: 0;
}

ul.menu > li {
  list-style: none;
  position: relative;
  width: 100%;
}

ul.menu > li > a,
ul.drop-down li a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 14px 24px 14px 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: none;
  line-height: 20px;
  background-color: #242b2e;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

ul.menu > li > a > i {
  vertical-align: middle;
  font-size: 15px;
  width: 30px;
  padding-right: 10px;
}

ul.menu li a span {
  position: relative;
  z-index: 2;
  vertical-align: middle;
}

ul.menu li a:hover:after,
ul.menu li a.active:after {
  width: 100%;
}

ul.nav li {
  width: 100%;
}

.social-media {
  position: fixed;
  bottom: 60px;
  width: 251px;
}

.list-inline {
  display: flex;
}

.list-inline li {
  flex: 1;

  text-align: center;
}

.list-inline li a {
  opacity: 0.7;
  background-color: transparent;
}

.list-inline li a:hover {
  opacity: 1;
  color: #fff;
}

.list-inline li a i:hover {
  opacity: 1;
  color: #fff;
}
