<header class="fixed">
  <div class="logo-box logo">
    <div class="d-none d-md-block">
      <img src="../../assets/images/logo_w_title.png" class="img-responsive" />
    </div>

    <div class="d-md-none">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        ></button>
        <img
          src="../../assets/images/logo_w_title_only.png"
          class="img-responsive"
          style="margin: 0 auto"
        />
      </div>
    </div>
  </div>
  <nav class="menu-box navbar" ng-app role="navigation">
    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav menu" ng-click="$event.preventDefault();">
        <li [routerLinkActive]="['active']">
          <app-link-button
            (click)="toggleCollapse()"
            [onClick]="this.navigateTo('/')"
            icon="home"
            label="Home"
          ></app-link-button>
        </li>
        <li [routerLinkActive]="['active']">
          <a
            (click)="toggleCollapse()"
            [routerLink]="['releases']"
            data-cy="releases"
          >
            <i class="fa-solid fa-record-vinyl"></i>
            <span>Releases</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a
            (click)="toggleCollapse()"
            [routerLink]="['remixes']"
            data-cy="remixes"
          >
            <i class="fa-solid fa-compact-disc"></i>
            <span>Remixes</span>
          </a>
        </li>
        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['/modular']"
            data-cy="modular"
          >
            <i class="fa-solid fa-circle-half-stroke"></i>
            <span>Modular Live</span>
          </a>
        </li>
        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['/mixes']"
            data-cy="vocal"
          >
            <i class="fa-solid fa-headphones"></i>
            <span>DJ Sets</span>
          </a>
        </li>
        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['/other-music']"
            data-cy="other-music"
          >
            <i class="fa fa-music"></i>
            <span>Other Music</span>
          </a>
        </li>
        <li>
          <a (click)="toggleCollapse()" [routerLink]="['shop']" data-cy="shop">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Shop</span>
          </a>
        </li>

        <li>
          <a
            (click)="toggleCollapse()"
            [routerLink]="['contact']"
            data-cy="contact"
          >
            <i class="fa-solid fa-envelope"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="social-media">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/downgrooves" target="_new"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/downgrooves/" target="_new"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/downgrooves" target="_new"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://open.spotify.com/artist/5rgW2jffJt8ERIfIKr5tnf"
          target="_new"
          ><i class="fa-brands fa-spotify"></i
        ></a>
      </li>
    </ul>
  </div>
</header>
